.mg-upload .mg-upload-accessory .mg-upload-button:focus,
.mg-upload .mg-upload-accessory .mg-upload-button:active:focus,
.mg-upload .mg-upload-accessory .mg-upload-button.active:focus,
.mg-upload .mg-upload-accessory .mg-upload-button.focus,
.mg-upload .mg-upload-accessory .mg-upload-button:active.focus,
.mg-upload .mg-upload-accessory .mg-upload-button.active.focus {
  outline: none;
  box-shadow: none;
}
.mg-upload .mg-upload-accessory .mg-upload-button {
  display: inline-block;
  align-items: center;
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #D7DAE0;
  border-radius: 2px;
  cursor: pointer;
}
.mg-upload .mg-upload-accessory .mg-upload-button .mg-upload-button-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mg-upload .mg-upload-accessory .mg-upload-button .mg-upload-button-content .mg-upload-button-content-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url('../public/svg/upload.svg');
  background-repeat: no-repeat;
}
.mg-upload .mg-upload-accessory .mg-upload-button:hover {
  color: #208cff;
  border: 1px solid #208cff;
}
.mg-upload .mg-upload-accessory .mg-upload-button-disabled {
  display: inline-block;
  align-items: center;
  padding: 6px 12px;
  background: #f5f5f5;
  border: 1px solid #D7DAE0;
  border-radius: 2px;
}
.mg-upload .mg-upload-accessory .mg-upload-button-disabled .mg-upload-button-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.mg-upload .mg-upload-accessory .mg-upload-button-disabled .mg-upload-button-content .mg-upload-button-content-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url('../public/svg/upload.svg');
  background-repeat: no-repeat;
}
.mg-upload .mg-upload-accessory .mg-upload-accessory-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}
.mg-upload .mg-upload-accessory .mg-upload-accessory-item .mg-upload-accessory-item-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.mg-upload .mg-upload-accessory .mg-upload-accessory-item .mg-upload-accessory-icon {
  background: url('../public/svg/accessory.svg');
  background-repeat: no-repeat;
}
.mg-upload .mg-upload-accessory .mg-upload-accessory-item .mg-upload-delete-icon {
  background: url('../public/svg/delete-accessory.svg');
  background-repeat: no-repeat;
}
.mg-upload .mg-upload-accessory .mg-upload-accessory-item:hover {
  background: #F8F8F8;
  cursor: pointer;
}
